*{
box-sizing: border-box;
}
html, body {padding:0; margin:0;}
body{
    outline: none;
    background-color: #222222;
    color:#fff;
    font-family: "Oswald", sans-serif;
}
.container{
 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.mobile-header-title{
    display: none;
}
.menu-btn{
    display: none;
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius:50%;
    position: relative;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  .menu-btn span:before,
  .menu-btn span:after{
   content:'';
    display: block;
    transition:0.2ws;
  }
  .menu-btn span:before{
    transform:translateY(-6px);
  }
  .menu-btn span:after{
    transform:translateY(6px);
  }
  .menu-btn_active span:before{
    transform:rotate(-45deg);
    background-color: #fff;
  }
  .menu-btn_active span{
   height:0px;
  }
  .menu-btn_active span:after{
    transform:rotate(45deg);
    background-color: #fff;
  }
  .menu-block {
      z-index: 5;
    position: relative;

  }
  .menu-nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    margin-right: 20px;
    transition: 1s;
    color: #fff;
  }
  .menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: right center;
    opacity: 0;
    visibility: hidden;
    height: 50px;
    line-height: 50px;
    
    padding-right: 25px;
    padding-left: 25px;
    margin-right: -25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }


  

header{
    position: relative;
    height: 770px;
    background:url(../img/photo-1565058379802-bbe93b2f703a_1.jpg) center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover; 
    background-position: center;
}
header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around; 
    background:#000;
    background-size: cover; 
    margin:0 auto;
    opacity: 0.9;
    min-width: 100vw;
    z-index: 99;
}
.active{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff; 
    color:#fff;
}

.logo{
    font-family: "Chiller", sans-serif;
    font-size: 30px;
    text-align: center;
    color:#fff;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-bottom: 3px;
}
.logo span{
    font-size: 24px;

}
.logo a {
    color:#fff;
    text-decoration: none;
    outline: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
 
}
nav li{
    margin-right: 40px; 
    margin-top: 36px;
    

}
nav li a{
    text-decoration: none;
    outline: none;
    color:#fff;
    padding: 5px;
    transition:0.1s;
}
nav a:hover{
    border-top:2px solid #ea6060;
    border-bottom:2px solid #ea6060; 
    color:#fff;
}
nav li a{

    font-size: 16px;   
    color:#fff;

}
.features{
    position: relative;
    z-index: 3;
    text-align: center;
    margin-left: 80px;

    font-size: 35px;
    color:#fff;
    max-width: 80vw;
    padding-top: 300px;
    margin: 0 auto;
}
.features-block p{
    display: block;
    font-size: 30px;
    font-weight: 400;
}
.features-block h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.features-btn {
    text-align: center;
    margin-top: 200px;
}
.features-btn img{
    max-width: 40px;
    max-height: 40px;
}
.top{
    min-width: 99vw;
}


.presentation-inner{
    display: flex;
    margin:0 auto;
    text-align: center;
}
.presentation-img{
    border-left:12px solid #ea6060;
    border-bottom: 20px solid #ea6060;
    border-radius: 10px;
}
.presentation-img img{
    max-width: 557px;
    max-height: 695px;
    margin-top: 5px;
    
    box-shadow: 0px 0px 25px #000;
}

.presentation-text{
    margin-top: 50px;
    margin-left: 150px;
}
.presentation-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.presentation-title h3{
    padding-bottom: 20px;
    border-bottom:3px solid #ea6060;
}
.presentation-descr{
    font-size: 21px;
    font-family: "Titillium Web",sans-serif;
    margin-bottom: 30px;
    max-width: 400px;
    max-height: 120px;
    margin-left: 30px;
    margin-bottom: 100px;
}
.presentation-privilage{
    display: flex;
    font-size: 18px;
    font-family: "Titillium Web",sans-serif;
    margin-bottom: 70px;
}
.presentation-privilege__inner{
    display: flex;
}
.point{
    max-width: 55px;
    max-height: 55px;
    min-width: 55px;
    min-height: 55px;
    border-radius: 50%;
    background-color: #ea6060;
    margin-left: 13px;
    margin-bottom: 23px;
    position: relative;
}
.point::after{
    position: absolute;
    top: 15px;
    left: 24px;
    content:'!';
    color: #000;
    font-size: 25px;
    font-weight: 700;

}
.point-2{
    position: relative;
max-width: 55px;
max-height: 55px;
min-width: 55px;
min-height: 55px;
border-radius: 50%;
background-color: #ea6060;    
margin-left: 70px;
margin-bottom: 26px;
}
.point-2::after{
    position: absolute;
    top: 15px;
    left: 24px;
    content:'!';
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

.presentation-privilege li{
    margin-bottom: 32px;
    margin-left: 36px;
    margin-top: 100px;
}

#info-window{
    width: 1130px;
    height: 615px;
    text-align: center;
    padding: 15px;
    border: 3px solid #b9b9b9;
    border-radius: 5px;
    color: #fff;
    background-color: #3e3e3e;
    display: none;
}
#info-window :target{
    display: block;
}
.presentation-btn a{
    text-decoration: none;
    color:#fff;
    padding: 15px 75px;
    border:1px solid #fff;
    transition:0.1s;
    margin-left: 40px;
    margin-top: 20px;
    display: inline-block;
}
a.close{
    padding: 0;
    margin: 0;
    border:none;
    color:#ea6060;
}
a.close:hover{
    color: #222;
    background-color: none;
    border-radius: 50%;
}
.presentation-btn a:hover{
    text-shadow:0px 0px 15px #ea6060;
    box-shadow: 0px 0px 10px #ea6060;
}

.portfolio{
    margin-top: 120px;
}
.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.portfolio-title{
    text-align: center;
    margin-bottom: 45px;
    font-family: "Myriad Pro",sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom:3px solid #ea6060;
}
.portfolio-descr{
    text-align: center;
    margin-left: 295px;
    max-width: 610px;
    font-size: 21px;
    font-family: "Myriad Pro",sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
}
.portfolio-items img{
    text-align: center;
    min-width: 305px;
    max-width: 306px;
    min-height: 305px;
    max-height: 306px;
    margin-left: 20px;
}
.portfolio-items a { 
    display: block;
     position: relative;
    
}

.item img:hover{
width: 290px;
height: 290px;
margin-left: 20px;
}
.row-2 .item a{
    
}
.portfolio-items a:after { 
    content: '';
     position: absolute;
      top: 0; left: 0;
       right: 0;
        bottom: 0;
         background: rgba(0,0,0,.5);
           
           opacity: 0; 
        }

.portfolio-items a:before { 
    content: '';
    position: absolute;
    top: 0; left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/magnifer.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0; 
    transition: 0.6s;
    
        }

.portfolio-items a:hover:before,
.portfolio-items a:hover:after { opacity: 1;width: 306px;height: 306px;margin-left: 20px;  box-shadow: 0px 0px 10px #ea6060;}

.row-1{
    margin-bottom: 120px;
    margin-left: 88px;
}
.row-2{
    margin-left: 88px;
    margin-bottom: 160px;
}
.item a{
    outline:none;
}
.portfolio-btn a{
    text-decoration: none;
    color:#fff;
    padding: 15px 75px;
    border:1px solid #fff;
    transition:0.3s;
    margin-left: 485px;
}
.portfolio-btn{
    margin-bottom: 128px;
}
.portfolio-btn a:hover{
    text-shadow:0px 0px 15px #ea6060;
    box-shadow: 0px 0px 10px #ea6060;
}
.portfolio-items .item{

}


.reviews{
    position: relative; 
    margin-bottom: 65px;
    height: 600px;
    background-image: url(../img/reviews-1.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;   
}

.reviews:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }
.reviews-inner{
    position: relative;
    z-index: 50;
}
.reviews-title{
    position: absolute;
    top:70px;
    left: 496px;
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    font-family: "Myriad Pro", sans-serif;
}
.reviews-text{
    color:#fff;
    position: absolute;
    top: 350px;
    left: 527px;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    max-width: 900px;
    max-height: 75px;
    text-align: center;
}
.reviews-img img{
    position: absolute;
    top: 180px;
    left: 530px;
    min-width: 135px;
    min-height: 135px;
    max-width: 135px;
    max-height: 135px;
    border-radius: 50%;
    border:5px solid #ea6060;
}
.reviews-name{
    color:#fff;
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
    position: absolute;
    top: 445px;
    left: 557px;
    padding: 10px 0px;
    border-top: 2px solid #ea6060;
    border-bottom: 2px solid #ea6060;
}

.feedback-inner{
    display: flex;
    margin-left: 170px;
}


.feedback-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Myriad Pro", sans-serif;
    margin-bottom: 50px;
    border-bottom: 3px solid #ea6060;
    padding-bottom: 10px;
}
.feedback-left form input{
    width: 385px;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 30px;
    background-color: #11110f;
    color: #fff;
    border: 1px solid #11110f;
}
.Message{
    width: 385px;
    height: 202px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 64px;
    background-color: #11110f;
    color: #fff;
    border: 1px solid #11110f ;
}
form input{
    transition: 0.3s;
}
form textarea{
    transition: 0.3s;
}
form input:hover{
    box-shadow: 0px 0px 5px #ea6060;
}
form textarea:hover{
    box-shadow: 0px 0px 5px #ea6060;
}
.form-btn{
    padding: 20px 35px;
    background-color: #ea6060;
    border-radius:3px;
     text-decoration: none;
     color:#fff;
     transition: 0.3s;
}
.form-btn:hover{
    box-shadow: 0px 0px 5px #fff;
}
.form-btn a{
    font-size: 18px;
    font-family: "Myriad Pro", sans-serif;
}
.feedback-left form{
    margin-left: 160px;
}
.feedback-right{
    font-size: 22px;
    margin-left: 55px;
}
.feedback-text{
    text-align: center;
    max-width: 500px;
    margin-left: 110px;
    margin-bottom: 65px;
    min-width: 100px;
}
.feedback-addres{
    display: none;
    margin-bottom: 40px;
}
.feedback-phone{
    display: none;
    margin-bottom: 50px;
}
.feedback-icons img{
    
    max-width: 60px;
    max-height: 60px;
   
}
.vk{
    position: absolute;
    top: 4310px;
    left: 1020px;
    transition: 0.4s;
    border-radius: 8px;
}
.vk:hover{
    padding: -10px;
    
    box-shadow: 2px 2px 10px #98ccfd;
}
.inst{
    position: absolute;
    top: 4310px;
    left: 950px;
    transition: 0.4s;
    border-radius: 15px;
}
.inst:hover{
    box-shadow: 0px 0px 10px #bd82f4;
    
}




/* слой затемнения */
 
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* активируем модальное окно */
 
.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */
 
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */
 
.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */
 
.dm-modal {
    text-align: center;
    display: inline-block;
    padding: 50px;
    max-width: 50em;
    background: #333;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #cfd8dc;
    text-align: left;
    border-radius: 15px;
    border: 3px solid #ea6060;
    box-shadow: 0px 0px 15px #ea6060;
}
.dm-modal h3{
    font-size: 45px;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ea6060;
}
.dm-modal h3 span{
    margin-left: 25px;
}
.dm-modal p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
/* изображения в модальном окне */
 
.dm-modal img {
    width: 100%;
    height: auto;
}
/* миниатюры изображений */
 
.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
/* миниатюра справа */
 
.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* миниатюра слева */
 
.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}
/* встраиваемое видео в модальном окне */
 
.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* рисуем кнопарь закрытия */
 
.close {
    z-index: 9999;
    float: right;
    width: 35px;
    height: 35px;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    cursor: pointer;
}
.close:after {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    color: black;
}
/* кнопка закрытия при наведении */
 
.close:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* варианты фонвой заливки модального блока */
 
.green {
    background: #388e3c!important;
}
.cyan {
    background: #0097a7!important;
}
.teal {
    background: #00796b!important;
}
/* движуха при появлении блоков с содержанием */
 
@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@media (max-width:1200px){
    body{
        max-width: 1200px;
    }
    .presentation-inner{
        display: flex;
        flex-direction: column;
        margin-left:-100px;
    }
    .presentation-img img{
        min-width: 585px;
        min-height: 735px;
        margin-left: 120px; 
    }
    .presentation-img{
        border: none;
    }
    .presentation-title{
        margin-right: 10px;
    }
    .presentation-descr{
        text-align: center;
        margin-left: 260px;
        margin-bottom: 120px;
        font-size: 22px;
    }
    .presentation-text{
        text-align: center;
    }
    .point{
        margin-left: 47px;
        min-width: 55px;
        min-height: 55px;
    }
    .point-2{
        margin-left:170px;
        min-width: 55px;
        min-height: 55px;
        text-align: center;
    }
    .pr1{
        min-width: 150px;
    }
    .pr2{
        text-align: center;
        min-width: 300px;
    }
    .presentation-privilege{
        margin-right: 100px;
    }
    .presentation-privilege__inner{
        margin-left: 40px;
    }
    .presentation-privilege__inner li{
        min-width: 100px;
        text-align: center;
        font-size: 20px;
    }
    .presentation-btn{
        margin-left: -70px;
    }
    .portfolio-title{
        margin-left: 20px;
    }
    .portfolio-descr{
        margin-left:190px;
    }
    .portfolio-items{
     margin-left:-90px;
    }
    .portfolio-btn{
        margin-left: -75px;
    }
    .reviews-title{
        margin-left: -75px;
    }
    .reviews-img img{
        margin-left: -80px;
    }
    .reviews-text{
     margin-left: -75px;
     margin-bottom: 50px; 
    }
    .reviews-name{
        margin-top: 20px;
        margin-left:-75px;
    }
    .feedback-text{
        font-size: 19px;
        width: 420px;
        margin-left: 60px;
        text-align: center;
    }
    .feedback-addres{
        font-size: 19px;
        display: none;
    }
    .feedback-phone{
        font-size: 19px;
         display: none;
    }
    .feedback-title{
        margin-bottom: 40px;
    }
    .vk{
        top: 5030px;
        left: 600px;
    }
    .inst{
        top: 5030px;
        left: 530px;
    }
    .feedback-left form{
        margin-bottom: 100px;
        margin-left: 80px;
    }
   
    
}

@media (max-width:768px){
    body{
        max-width: 768px;
    }
    .features-block h3{
        font-size: 48px;
    }
    .presentation-descr{
        min-width: 400px;
        margin-left: 130px;
    }
    .point{
        margin-left:22px;
    }
    .point-2{
        margin-left: 95px;
    }
    .portfolio-items{
        display: flex;
    }
    .portfolio-items a{
        
    }
    .portfolio-descr{
        margin-left: 70px;
        margin-bottom: 70px;
    }
    .portfolio-items img{
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .portfolio-btn{
        margin-left:-220px;
    }
    .reviews-title{
        margin-left: -210px;
    }
    .reviews-img img{
        margin-left: -220px;
    }
    .reviews-text{
        margin-left: -220px;
    }
    .reviews-name{
        margin-left: -210px;
    }
    .row-1{
    display: flex;
    flex-direction: column;
        
    }
    .row-2{
        display: flex;
        flex-direction: column;
    }
    .feedback-title{
        margin-bottom: 40px;
    }
    .feedback-text{
        width: 420px;
        margin-left: -50px;
        text-align: center;
    }
    .feedback-addres{
        display: none;
    }
    .feedback-phone{
        display: none;
    }
    .vk{
        top: 5375px;
        left: 480px;
    }
    .inst{
        top: 5375px;
        left: 410px;
    }
    .feedback-left form{
        margin-bottom: 100px;
        margin-left: -40px;
    }
    .portfolio-items a:hover:before,
.portfolio-items a:hover:after{
    margin-left: 10px;
}

}


@media (max-width:720px){
body{
    max-width: 720px;
}
.point-2{
    margin-left: 70px;
}
.portfolio-items{
    margin-left: -108px;
}
.reviews-title{
    margin-left: -235px;
}
.reviews-img img{
    margin-left: -240px;
}
.reviews-text{
    margin-left: -235px;
}
.reviews-name{
    margin-left: -237px;
}
.feedback-title{
    margin-left: 25px;
}
.feedback-text{
    margin-left: -75px;
}
.feedback-left form{
    margin-left: -50px;
}
}
@media (max-width:690px){
    body{
        max-width: 690px;
    }
    .nav{
        display: none;
    }
    .features-btn img{
        margin-top: -130px;
    }
    .mobile-header-title{
        display: block;
        font-family: "Chiller", sans-serif;
        font-size: 40px;
        z-index: 5;
        position: absolute;
        left: 37%;
        top: 70px;
        padding: 40px;
        border: 1px solid #fff;
        box-shadow: 0px 0px 7px #ea6060;
        border-radius: 25%;
        text-align: center;
        text-shadow: 2px 0px 13px #ea6060;
    }
    .menu-btn{
        display: block;
        position: absolute;
        top: 0px;
        right: 30px;
    }
    .presentation-img img{
        margin-left: 100px;
    }
    .presentation-title h3{
        margin-right: 25px;
    }
    .presentation-descr{
        margin-left: 85px;
    }
    .point-2{
        margin-left: 55px;
    }
    .row-1{
        display: none;
    }
    .row-2{
        margin-left: 290px;
        margin-bottom: 100px;
    }    
    .portfolio-btn a {
        margin-left: 470px;
    }
    .feedback-text{
        margin-left: -90px;
    }
    .feedback-left form{
        margin-left: -70px;
    }
    .inst{
        top: 5340px;
        left: 410px;
    }
    .vk{
        top: 5340px;
        left: 480px;
    }

    @media (max-width:640px){    
        body{
            max-width: 640px;
        }
        .features-btn img{
            margin-top: -280px;
        }
        .presentation-descr{
            margin-left: 60px;
        }
        .point{
            margin-left: 25px;
        }
        .point-2{
            margin-left: 30px;
        }
        .presentation-privilege__inner li{
            font-size: 16px;
        }
        .portfolio-descr{
            margin-left: 10px;
        }
        .portfolio-items{
            margin-left: -150px;
        }
        .portfolio-btn a{
           margin-left: 420px; 
        }
        .reviews-title{
            margin-left: -280px;
        }
        .reviews-img img{
            margin-left: -295px;
        }
        .reviews-text{
            margin-left: -290px;
        }
        .reviews-name{
            margin-left: -295px;
        }
        .feedback-text{
            margin-left: -115px;
        }
        .feedback-left form{
            margin-left: -100px;
        }
        .inst{
            top: 5320px;
            left: 340px;
        }
        .vk{
            top: 5320px;
            left: 405px;
        }
    @media (max-width:540px){
        body{
            max-width: 540px;
        }
        .menu-nav a{
            font-size: 15px;
        }
        .presentation-img img{
            display: none;
        }
        .presentation-descr{
            margin-left: 10px;
        }
        .presentation-privilege__inner{
            margin-left:-20px;
        }
        .presentation-privilege__inner li{
            font-size: 14px;
        }
        .point-2{
            margin-left: 25px;
        }
        .portfolio-items{
            margin-left: -195px;
        }
        .portfolio-btn a{
            margin-left: 375px;
        }
        .reviews-title{
            margin-left: -325px;
        }
        .reviews-img img{
            margin-left: -330px;
        }
        .reviews-text{
            margin-left: -330px;
        }
        .reviews-name{
            margin-left: -335px;
        }
        .feedback-text{
            margin-left: -170px;
        }
        .feedback-left form{
            margin-left: -150px;
        }
        .inst{
            top: 4640px;
            left: 290px;
        }
        .vk{
            top: 4640px;
            left: 355px;
        }
        @media (max-width:480px){
            .menu-nav a{
                font-size: 13px;
            }
            .mobile-header-title{
                left: 33%;
                top: 100px;
            }
            .features-block h3{
                font-size: 40px;
            }
            .features-block p{
                font-size: 25px;
            }
            .presentation-descr{
                margin-left: -20px;
            }
            .presentation-privilege__inner{
                margin-left: -45px;
            }
            .presentation-btn a{
                margin-left: 20px;
            }
            .portfolio-items{
                margin-left: -225px;
            }
            .portfolio-btn a{
                margin-left: 350px;
            }
            .reviews-title{
                margin-left: -360px;
            }
            .reviews-img img{
                margin-left: -360px;
            }
            .reviews-text{
                margin-left: -360px;
            }
            .reviews-name{
                margin-left: -360px;
            }
            .feedback-text{
                margin-left: -200px;
            }
            .feedback-left form{
                margin-left: -180px;
            }
            .inst{
                top: 4665px;
            }
            .vk{
                top: 4665px;
            }
    }




















/*
@media (max-width:480px){
body{
    max-width: 480px;
}
.features-block h3{
    font-size: 35px;
}
.features-block p{
    font-size: 25px;
}
.presentation-img img{
    display: none;
}
.presentation-descr{
    margin-left: -10px;
}
.presentation-privilege__inner{
    margin-left: -30px;
}
.point-2{
    margin-left: 20px;
}
.presentation-privilege__inner li{
    font-size: 14px;
}
}
*/ 