*{
box-sizing: border-box;
}
html, body {padding:0; margin:0;}
body{
    outline: none;
    background-color: #222222;
    color:#fff;
    font-family: "Oswald", sans-serif;
}
.container{
 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    position: relative;
    height: 770px;
    background:url(../img/photo-1565058379802-bbe93b2f703a_1.jpg) center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover; 
    background-position: center;
}
header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around; 
    background:#000;
    background-size: cover; 
    margin:0 auto;
    opacity: 0.9;
    min-width: 100vw;
    z-index: 99;
}
.active{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff; 
    color:#fff;
}

.logo{
    font-family: "Chiller", sans-serif;
    font-size: 30px;
    text-align: center;
    color:#fff;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-bottom: 3px;
}
.logo span{
    font-size: 24px;

}
.logo a {
    color:#fff;
    text-decoration: none;
    outline: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
 
}
nav li{
    margin-right: 40px; 
    margin-top: 36px;
    

}
nav li a{
    text-decoration: none;
    outline: none;
    color:#fff;
    padding: 5px;
    transition:0.2s;
}
nav a:hover{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff; 
    color:#fff;
}
nav li a{

    font-size: 16px;   
    color:#fff;

}
.features{
    position: relative;
    z-index: 3;
    text-align: center;
    margin-left: 80px;

    font-size: 35px;
    color:#fff;
    max-width: 80vw;
    padding-top: 300px;
    margin: 0 auto;
}
.features-block p{
    display: block;
    font-size: 30px;
    font-weight: 400;
}
.features-block h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.features-btn {
    text-align: center;
    margin-top: 200px;
}
.features-btn img{
    max-width: 40px;
    max-height: 40px;
}
.top{
    min-width: 99vw;
}


.presentation-inner{
    display: flex;
    margin:0 auto;
    text-align: center;
}
.presentation-img img{
    max-width: 540px;
    max-height: 682px;
    margin-top: 5px;
}
.presentation-img img:before{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 7;
}
.presentation-text{
    margin-top: 100px;
    margin-left: 130px;
}
.presentation-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}
.presentation-descr{
    font-size: 21px;
    font-family: "Titillium Web",sans-serif;
    margin-bottom: 30px;
    max-width: 400px;
    max-height: 120px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.presentation-privilage{
    display: flex;
    font-size: 18px;
    font-family: "Titillium Web",sans-serif;
    margin-bottom: 70px;
}
.presentation-privilege__inner{
    display: flex;
}
.point{
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: #ea6060;
    margin-left: 24px;
    margin-bottom: 23px;
}
.point-2{
max-width: 35px;
max-height: 35px;
min-width: 35px;
min-height: 35px;
border-radius: 50%;
background-color: #ea6060;    
margin-left: 85px;
margin-bottom: 26px;
}

.presentation-privilege li{
    margin-bottom: 32px;
    margin-left: 35px;
}
.presentation-btn a{
    text-decoration: none;
    color:#fff;
    padding: 15px 75px;
    border:1px solid #fff;
    transition:0.3s;
    margin-top: 50px;
    display: inline-block;
}
.presentation-btn a:hover{
    color:#222;
    background-color: #fff;
}


.portfolio{
    margin-top: 120px;
}
.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.portfolio-title{
    text-align: center;
    margin-bottom: 45px;
    font-family: "Myriad Pro",sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.portfolio-descr{
    text-align: center;
    margin-left: 295px;
    max-width: 610px;
    font-size: 21px;
    font-family: "Myriad Pro",sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
}
.portfolio-items img{
    text-align: center;
    min-width: 305px;
    max-width: 306px;
    min-height: 305px;
    max-height: 306px;
    margin-left: 20px;
    box-shadow: 3px 3px 15px #888;
    
}
.portfolio-items a { 
    display: block;
     position: relative;
}
.row-2 .item a{
    
}
.portfolio-items a:after { 
    content: '';
     position: absolute;
      top: 0; left: 0;
       right: 0;
        bottom: 0;
         background: rgba(0,0,0,.5);
         margin-left: 20px;
           opacity: 0; 
        }

.portfolio-items a:before { 
    content: '';
    position: absolute;
    top: 0; left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/magnifer.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0; 
    transition: 0.6s;
        }

.portfolio-items a:hover:before,
.portfolio-items a:hover:after { opacity: 1; }

.row-1{
    margin-bottom: 120px;
    margin-left: 88px;
}
.row-2{
    margin-left: 88px;
    margin-bottom: 160px;
}
.portfolio-btn a{
    text-decoration: none;
    color:#fff;
    padding: 15px 75px;
    border:1px solid #fff;
    transition:0.3s;
    margin-left: 485px;
}
.portfolio-btn{
    margin-bottom: 128px;
}
.portfolio-btn a:hover{
    color:#000;
    background-color: #fff;
}
.portfolio-items .item{

}


.reviews{
    position: relative; 
    margin-bottom: 65px;
    height: 600px;
    background-image: url(../img/reviews-1.jpg);
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;   
}

.reviews:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
  }
.reviews-inner{
    position: relative;
    z-index: 50;
}
.reviews-title{
    position: absolute;
    top:70px;
    left: 552px;
    color:#fff;
    font-size: 50px;
    font-weight: 700;
    font-family: "Myriad Pro", sans-serif;
}
.reviews-text{
    color:#fff;
    position: absolute;
    top: 350px;
    left: 220px;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    max-width: 900px;
    max-height: 75px;
    text-align: center;
}
.reviews-img img{
    position: absolute;
    top: 180px;
    left: 575px;
    min-width: 135px;
    min-height: 135px;
    m-width: 135px;
    max-height: 135px;
    border-radius: 50%;
}
.reviews-name{
    color:#fff;
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
    position: absolute;
    top: 445px;
    left: 550px;
}

.feedback-inner{
    display: flex;
    margin-left: 170px;
}


.feedback-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Myriad Pro", sans-serif;
    margin-bottom: 90px;
}
.feedback-left form input{
    width: 385px;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 30px;
    background-color: #11110f;
    color: #fff;
    border: 1px solid #11110f;
}
.Message{
    width: 385px;
    height: 202px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 64px;
    background-color: #11110f;
    color: #fff;
    border: 1px solid #11110f ;
}
.form-btn{
    padding: 20px 35px;
    background-color: #ea6060;
    border-radius:3px;
     text-decoration: none;
     color:#fff;
}
.form-btn a{
    font-size: 18px;
    font-family: "Myriad Pro", sans-serif;
    
   

}
.feedback-right{
    font-size: 22px;
    margin-left: 55px;
}
.feedback-text{
    margin-bottom: 65px;
}
.feedback-addres{
    margin-bottom: 40px;
}
.feedback-phone{
    margin-bottom: 80px;
}
.feedback-icons img{
    max-width: 60px;
    max-height: 60px;
   
}
.vk{
    transition: 0.4s;
}
.vk:hover{
     box-shadow: 0px 0px 10px #1976d2;
    border-radius: 50%;
}
.inst{
    transition: 0.4s;
}
.inst:hover{
    box-shadow: 0px 0px 10px #bd82f4;
    border-radius: 13px;
}

@media (max-width:1200px){
    .presentation-inner{
        display: flex;
        flex-direction: column;
        margin-left:-100px;
    }
    .presentation-img img{
        min-width: 585px;
        min-height: 735px;
        margin-left: 120px;
    }
    .presentation-title{
        margin-right: 10px;
    }
    .presentation-descr{
        text-align: center;
        margin-left: 275px;
        margin-bottom: 120px;
        font-size: 22px;
    }
    .presentation-text{
        text-align: center;
    }
    .point{
        margin-left: 55px;
        min-width: 30px;
        min-height: 30px;
    }
    .point-2{
        margin-left:160px;
        min-width: 30px;
        min-height: 30px;
        text-align: center;
    }
    .pr1{
        min-width: 100px;
    }
    .pr2{
        text-align: center;
        min-width: 300px;
    }
    .presentation-privilege{
        margin-right: 100px;
    }
    .presentation-privilege__inner{
        margin-left: 90px;
    }
    .presentation-privilege__inner li{
        min-width: 100px;
        text-align: center;
        font-size: 20px;
    }
    .presentation-btn{
        margin-left: 15px;
    }
    .portfolio-title{
        margin-left: 30px;
    }
    .portfolio-descr{
        margin-left:220px;
    }
    .portfolio-items{
     margin-left:-60px;
    }
    .portfolio-btn{
        margin-left: -55px;
    }
    .reviews-title{
        margin-left: -110px;
    }
    .reviews-img img{
        margin-left: -120px;
    }
    .reviews-text{
     margin-right: 160px;
     margin-bottom: 50px; 
    }
    .reviews-name{
        margin-top: 20px;
        margin-left:-110px;
    }
   
    
}

@media (max-width:992px){
    .features-block h3{
        font-size: 5ww5px;
    }
    .presentation-descr{
        min-width: 400px;
        margin-left: 160px;
    }
    .point{
        margin-left:32px;
    }
    .point-2{
        margin-left: 105px;
    }
    .portfolio-items{
        display: flex;
    }
    .portfolio-items{
        margin-bottom: 10px;
    }
    .row-1{
    display: flex;
    flex-direction: column;
        
    }
    .row-2{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:768px){
    body{
        max-width: none;
}
}